<swiper [slidesPerView]="3" [spaceBetween]="0" (swiper)="onSwiper()" (slideChange)="onSlideChange($event)"
  [navigation]="true" [loop]="true" effect="cube">
  <!-- 'slide' | 'fade' | 'cube' | 'coverflow' | 'flip' -->
  <!-- [pagination]="{ clickable: true }" -->
  <!-- [scrollbar]="{ draggable: true }" -->
  <ng-template swiperSlide>Slide 1</ng-template>
  <ng-template swiperSlide>Slide 2</ng-template>
  <ng-template swiperSlide>Slide 3</ng-template>
  <ng-template swiperSlide>Slide 4</ng-template>
  <ng-template swiperSlide>Slide 5</ng-template>
  <ng-template swiperSlide>Slide 6</ng-template>
</swiper>